body{
    background-color: rgb(41, 170, 221);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

p{
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    
}

.SelfPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}
@media (max-width: 650px) and (min-width: 320px){
    .SelfPicture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
    }

    video{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
    }
} 


h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
h3{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Contact{
    text-decoration:  none;
}

li{
    color: white;
}

#navbarStyle{
    background-color: darkgray;
}

footer{
    background-color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
}


.content-wrap{
    padding-bottom: 100px;
    flex: 1;
}